.mediaSwiper {
  width: 100%;
  height: 100%;
  background-color: aqua;
 
}

.swiper-button-next{
  z-index: 60;
}

.mediaSlide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
  /* width: fit-content !important; */

  width: 500px;

  
}



.mediaSlide img {
  display: block;
  /* width: 130px; */
  height: 100%;
  object-fit: cover;
}
