.newMoviesSwiper {
  width: 100%;
  
  position: relative;

  
}

.swiper-button-next{
  z-index: 60;
}

.newMovieSlide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px !important;
  height: 450px;
  

  
}



.newMovieSlide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}



