.trendingMoviesSwiper {
  width: 100%;
  height: 100%;
  background-color: aqua;
 
}

.swiper-button-next{
  z-index: 60;
}

.trendingMoviesSlide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content !important;
 

 

  
}



.trendingMoviesSlide img {
  display: block;
  width: 130px;
  height: 100%;
  object-fit: cover;
}
